<% if user_signed_in? %>
    <div class="userView">
      <div class="background">
      </div>
      <a href="#!name"><span class="name"><%= current_user.username %></span></a>
      <a href="#!email"><span class="email"><%= current_user.email %></span></a>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'center waves-effect waves-light waves-red') %>
      </li>
    </div>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="<%= projects_path %>"><i class="material-icons">list</i> View All Projects</a></li>
      <li><a class="waves-effect" href="<%= projects_path %>"><i class="material-icons">view_day</i> View Your Projects</a></li>
      <li><div class="divider"></div></li>
      <li><a class="btn-flat waves-effect waves-light waves-teal" id="back"><i class="material-icons">fast_rewind</i>Back</a></li>
<% else %>
  <li style="padding-top: 75%">
    <%= link_to('Login to view projects', new_user_session_path, class: 'center waves-effect waves-light waves-teal') %>
  </li>
  <li class="center">or</li>
  <li>
    <%= link_to('Create an account', new_user_registration_path, class: 'center waves-effect waves-light waves-teal') %>
  </li>
<% end %>