<% if user_signed_in? %>
    <div class="userView" style="padding: 40px">
      <div class="background">
        <img src="/assets/stock-photo.jpg">
      </div>
      <a href="<%= edit_user_registration_path %>"><span class="name white-text tooltipped" data-tooltip="edit your account" data-position="right"><%= current_user.username %></span></a>
      <a href="<%= edit_user_registration_path %>"><span class="email white-text"><%= current_user.email %></span></a>
    </div>
      <li class="search-wrapper focused">
        <div class="search-bar">
          <%= form_tag(search_index_path, id: "search-form", method: :get) do %>
            <span></span><i class="material-icons search">search</i></span>
            <%= text_field_tag :search, params[:search], class: 'tooltipped', 'data-tooltip':'search by title, description, due date <em>(yyyy-mm-dd)</em>', 'data-position':'top', 'data-html':'true', placeholder: "search projects and tasks" %>
          <% end %>
        </div>
      </li>
      <li>
        <%= link_to(destroy_user_session_path, :method => :delete, class: 'center waves-effect waves-light waves-red') do %>
          <button class="btn-flat"><i class="fa fa-sign-out big-icon" aria-hidden="true"></i> Log Out</button>
        <% end %>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect all-projects" href="<%= projects_path %>"><i class="material-icons">list</i> View All Projects</a></li>
      <% if current_user.remaining_tasks_count > 0 %>
        <li><a class="waves-effect" href="/users/<%= current_user.id %>/tasks"><i class="material-icons">assignment</i> <%= pluralize(current_user.remaining_tasks_count, 'Task') %> Left to Complete</a></li>
      <% else %>
        <li><a class="waves-effect" href="/users/<%= current_user.id %>/tasks"><i class="material-icons">assignment</i> View Your Tasks</a></li>
      <% end %>
      <li><a class="waves-effect" href="<%= new_project_path %>"><i class="material-icons">library_add</i> Create a New Project</a></li>
      <li><div class="divider"></div></li>
      <li><a class="btn-flat waves-effect waves-light waves-teal" id="back"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</a></li>
<% else %>
  <li><div class="divider" style="margin-top: 75%"></div></li>
  <li>
    <%= link_to('Login to view projects', new_user_session_path, class: 'center waves-effect waves-light waves-teal') %>
  </li>
  <li class="center">or</li>
  <li>
    <%= link_to('Create an account', new_user_registration_path, class: 'center waves-effect waves-light waves-teal') %>
  </li>
  <li class='center'>
    <p><b>Test Account:</b><br>Email: <i>testuser@testing.ne</i><br>Password: <i>testing123</i></p>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader center">Sign in with:</a></li>
  <li class="center">
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <button class="btn" style="background-color: #3b5998"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</button><br>
    <% end %>
  </li>
  <li class="center">
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <button class="btn" style="background-color: #d34836"><i class="fa fa-google-plus" aria-hidden="true"></i> <span id="google-plus">google+</span></button>
    <% end %>
  </li>
<% end %>

