<%= form_for [@project, @task] do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s8">
    <%= f.text_field :title, 'data-length': '23' %>
    <%= f.label :title %>
  </div>

  <div class="input-field col s4">
    <%= f.date_field :due_date, class: 'datepicker', min: Date.today %>
    <%= f.label :due_date %>
  </div>

  <div class="input-field col s12">
    <%= f.text_area :content, class: 'materialize-textarea', 'data-length': '500' %>
    <%= f.label :content %>
  </div>

  <div class="input-field col s1">
    <%= f.submit %>
    <br><br>
  </div>
<% end %>
