<h4 class="center">You have <%= current_user.tasks.count %> task(s)</h4>

<% @tasks.each do |task| %>
  <div class="card-panel hoverable">
    <% if task.completed? %>
      <a href="#" class="teal-text bold"><i class="material-icons teal-text">done</i> Completed</a>
    <% else %>
      <%= link_to project_task_path(task.project, task, task: {completed: true}), method: :patch, class: 'btn-flat tooltipped waves-effect waves-teal', 'data-tooltip':'Mark Complete', 'data-position':'top' do %>
        <i class="material-icons teal-text">turned_in</i>
      <% end %>
    <% end %>
    <div class="center-align">
      <%= link_to edit_project_task_path(task.project, task) do %>
        <h3 class="break"><b><%= task.title %></b></h3>
        <h5 class="break"><b>Project: <%= task.project.title %></b></h5>
        <p><%= task.content %></p><br>
        <small class="left"><b>Due Date</b></small><br>
        <p class="left" style="margin-top: 0"><%= task.due_date.strftime('%A, %e %B %Y') %></p>
      <% end %>
        <a href="/users/<%= current_user.id %>/tasks/<%= task.id %>" class="right btn-flat waves-effect waves-red tooltipped" data-method="delete" data-tooltip="remove from your tasks" data-position="top"><i class="fa fa-minus-circle red-text" aria-hidden="true"></i></a><br>
    </div>
  </div>

<% end %>
