<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s8">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input-field col s4">
    <%= f.label :due_date %>
    <%= f.date_field :due_date, class: 'datepicker', min: Date.today %>
  </div>

  <div class="input-field col s12">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'materialize-textarea', 'data-length': '500' %>
  </div>

<% if params[:action] == "new" %>

  <ul class="collapsible" data-collapsible="expandable">
    <%= f.fields_for :tasks, 3.times{project.tasks.build} do |task_builder| %>
      <li>
        <div class="collapsible-header"><a class="waves-effect waves-light btn teal accent-4">Create a New Task</a><smaller style="color:red">  (optional)</smaller></div>
          <div class="collapsible-body">
            <div class="input-field">
              <%= task_builder.text_field :title, 'data-length': '23' %>
              <%= task_builder.label :title %>
            </div>

            <div class="input-field">
              <%= task_builder.date_field :due_date, class: 'datepicker', min: Date.today %>
              <%= task_builder.label :due_date %>
            </div>

            <div class="input-field">
              <%= task_builder.text_area :content, class: 'materialize-textarea', 'data-length': '500' %>
              <%= task_builder.label :content %>
            </div>
          </div>
      </li>
    <% end %>
  </ul>
<% end %>

  <div class="actions">
    <%= f.submit class: 'waves-effect waves-light btn teal accent-4' %>
  </div>
<% end %>
