<% if @project.completed? %>
  <a href="#" class="teal-text bold left"><i class="material-icons teal-text">done_all</i> <strong>Project Completed:</strong> <%= project.updated_at.strftime('%A, %e %B %Y') %></a>
<% end %><br>
<div class="center-align">
  <h3 class="truncate">
    <%= @project.title %>
  </h3>

  <h5>
    <%= @project.description %>
  </h5>

  <p class="left-align">
    <strong>Due date</strong><br>
    <% if @project.past_due_date? %>
      <p class="left red-text" style="margin: 0"><%= @project.due_date.strftime('%A, %e %B %Y') %></p><br>
    <% else %>
      <p class="left" style="margin: 0"><%= @project.due_date.strftime('%A, %e %B %Y') %></p><br>
    <% end %>
  </p>
<div class="divider"></div>
  <table style="table-layout: fixed; margin-top: 10px">
    <caption style="font-size: 160%">Tasks Overview</caption>
    <thead>
      <tr>
        <th>Incompleted</th>
        <th>Unassigned</th>
        <th>Completed</th>
        <th>Total</th>
      </tr>
    </thead>
    <tr>
      <td><%= @project.remaining_tasks_count %></td>
      <td><%= @project.unassigned_tasks_count %></td>
      <td><%= @project.tasks.count - @project.remaining_tasks_count %></td>
      <td><%= @project.tasks.count %></td>
    </tr>
  </table>
</div>

<% @project.tasks.ordered.each do |task| %>
  <div class="card-panel hoverable center-align">
  <% if task.completed %>
    <%= link_to project_task_path(task.project, task, task: {completed: false}), method: :patch, class: 'btn-flat-small tooltipped waves-effect waves-teal left', 'data-tooltip':'Mark Incomplete', 'data-position':'top' do %>
      <i class="material-icons teal-text">done</i><span class="teal-text"><strong>Completed:</strong> <%= task.updated_at.strftime('%A, %e %B %Y') %></span>
    <% end %>
  <% elsif task.user.nil? %>
    <a href="/users/<%= current_user.id %>/tasks/<%= task.id %>/edit" data-method="post" class="btn-small tooltipped teal accent-4 white-text left" data-tooltip="assign yourself to this task" data-position="top"><i class="material-icons">add</i></a>
  <% elsif task.user == current_user %>
    <%= link_to project_task_path(@project, task, task: {completed: true}), method: :patch, class: 'btn-flat tooltipped waves-effect waves-teal left', 'data-tooltip':'Mark Complete', 'data-position':'top' do %>
      <i class="material-icons teal-text">turned_in</i>
    <% end %><br>
  <% end %><br>
  <%= link_to edit_project_task_path(@project, task) do %>
    <h5 class="truncate"><b><%= task.title %></b></h5>
    <p><%= task.content %></p>
    <% if task.user %>
      <p><strong>Assigned to:</strong> <%= task.user.username %></p>
    <% end %>
    <small class="left"><b>Due Date</b></small><br>
      <% if task.past_due_date? %>
        <p class="left red-text" style="margin: 0"><%= task.due_date.strftime('%A, %e %B %Y') %></p><br>
      <% else %>
        <p class="left" style="margin: 0"><%= task.due_date.strftime('%A, %e %B %Y') %></p><br>
      <% end %>
  <% end %>
  <%= link_to project_task_path(@project, task), method: :delete, class: 'right btn-flat-small waves-effect waves-red', data: { confirm: "Are you sure you want to delete #{task.title}?" }  do%>
    <i class="material-icons">delete</i>
  <% end %><br>
  </div>
<% end %>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal accent-4">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a href="<%= new_project_task_path(@project) %>" class="btn-floating tooltipped green" data-tooltip="create a new task" data-position="left"><i class="material-icons">note_add</i></a></li>
    <li><a href="<%= edit_project_path(@project) %>" class="btn-floating tooltipped yellow" data-tooltip="edit project" data-position="left"><i class="material-icons">mode_edit</i></a></li>
    <li>
      <%= link_to @project, method: :delete, class: 'btn-floating tooltipped red', 'data-tooltip': "delete project", 'data-position': 'left', data: { confirm: "Are you sure you want to delete #{@project.title} and all its tasks?" } do %>
            <i class="material-icons">delete</i>
      <% end %>
    </li>
    <li>
      <% set_project_team %>
      <%= link_to project_team_path(@team), method: :delete, class: 'btn-floating tooltipped orange', 'data-tooltip': "leave project team", 'data-position': 'left', data: { confirm: "Are you sure you want to leave #{@project.title}'s team?" } do %>
        <i class="material-icons">fast_rewind</i>
      <% end %>
    </li>
  </ul>
</div>
