<%= render partial: 'notice', locals: {notice: notice} %>

<div class="center-align">
  <p>
    <strong>Title:</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @project.due_date.strftime('%A %e %B %Y') %>
  </p>
</div>

<% @project.tasks.each do |task| %>
  <div class="card-panel hoverable center-align">
  <%= link_to edit_project_task_path(@project, task) do %>
    <p><b><%= task.title %></b></p>
    <p><%= task.content %></p>
    <% if task.user %>
      <p>Assigned to: <%= task.user.username %></p>
    <% end %>
    <p class="left">Complete by: <%= task.due_date.strftime('%A %e %B %Y') %></p><br>
  <% end %>
    <%= link_to project_task_path(@project, task), method: :delete, class: 'right btn-flat-small waves-effect waves-red', data: { confirm: "Are you sure you want to delete #{task.title}?" }  do%>
    <i class="material-icons">delete</i>
  <% end %><br>
  </div>
<% end %>

<%= link_to 'Edit Project', edit_project_path %> |
<%= link_to 'Create New Task', new_project_task_path(@project) %>
