<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @project.due_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @project.completed %>
</p>

<% @project.tasks.each do |task| %>
  <a href="<%#= edit_project_task_path %>" class="clickable-cells">
    <div class="tasks">
      <p><b><%= task.title %></b></p>
      <p><%= task.content %></p>
      <% if task.user %>
        <p>Assigned to: <%= task.user.username %></p>
      <% end %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
