<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="input-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div><br>
  <% end -%>

  <div class="input-field">
    <%= f.submit "Log in", class: 'waves-effect waves-light btn teal accent-4' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= link_to user_facebook_omniauth_authorize_path do %>
  <button class="btn" style="background-color: #3b5998"><i class="fa fa-facebook-official" aria-hidden="true"></i> Sign in with Facebook</button><br>
<% end %>
<%= link_to user_google_oauth2_omniauth_authorize_path do %>
  <button class="btn" style="background-color: #db3236"><i class="fa fa-google" aria-hidden="true"></i> Sign in with <span id="google-plus">google+</span></button>
<% end %>