<!DOCTYPE html>
<html>
  <head>
    <title>GroupProjectOrganizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="top-nav teal accent-4">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Group Project Organizer</a>
          </div>
        </div>
        <div class="container">
          <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons" style="font-size: 32px; margin-top: 25px">menu</i></a>
        </div>
      </nav>
        <ul id="nav-mobile" class="side-nav fixed">
          <%= render partial: 'devise/menu/menu' %>
        </ul>
    </header>
    <div class="container main">
      <div class="row">
        <div class="col s12 m8 l10 offset-l2 offset-m2 grey lighten-4" id="main">
          <%= render partial: 'projects/notice', locals: {notice: notice} %>
          <% if flash[:error] %>
            <p id="error"><i class="material-icons">error</i><%= flash[:error] %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <div class="center-align">
        <a href="https://github.com/jilustrisimo/group-project-organizer" class="tooltipped" data-tooltip="read the doc" data-position="right" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="branding right" style="padding-right: 10px">
        <small>&copy; 2017 <strong>Group Project Organizer</strong></small>
      </div>
    </footer>
  </body>
</html>
